Welcome.
Would you like to add, subtract, multiply, or divide?
    <form method="post" action="/index">
      <input type="radio" name="radio" value="addition" /> Addition </br>
      <input type="radio" name="radio" value="subtract" /> Subtract </br>
      <input type="radio" name="radio" value="multiply" /> Multiply </br>
      <input type="radio" name="radio" value="divide" /> Divide </br>
      <input type="submit" value="Select"/>
    </form>