You selected <%=radio%>.
Enter two numbers to use.

<form method= "post" action="/two_numbers">
<input type="hidden" name="radio" value= <%=radio%>>
<input type = "number" name = "num1">
<input type = "number" name = "num2">
<input type  = "submit">
</form>