
Pick a Username!
 
  <form method="post" action="/user_name">
      <input type="radio" name="user_name" value="cc" /> Communist Carl </br>
      <input type="radio" name="user_name" value="ll" /> Libertarian Libby </br>
      <input type="radio" name="user_name" value="mm" /> Free Market Mark </br>
      <input type="radio" name="user_name" value="ff" /> Fascist Frank </br>
      <input type="submit" value="Select"/>
    </form>
